* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(237, 223, 199, 1);
}

.animation-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    aspect-ratio: 940 / 460;
    height: auto;
}

.object {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    &.shoe {
        z-index: 1;
        bottom: 5%;
        width: 90%;
    }

    &.bird {
        left: 4%;
        bottom: 44%;
        width: 36%;
        animation: 
            bird-vertical-move 1.5s cubic-bezier(0.4, 0, 0.2, 1) forwards,
            bird-post-intro-movement 5s 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }

    &.flower-1 {
        opacity: 0;
        bottom: 44%;
        left: 80%;
        right: inherit;
        width: 10%;
        animation: 
            flower-1-horizontal-move 1s ease-in-out forwards,
            flower-rotate 5s 3s infinite forwards;
    }

    &.flower-2 {
        opacity: 0;
        bottom: 7%;
        left: 77%;
        right: inherit;
        width: 18%;
        animation: 
            flower-2-horizontal-move 1s ease-in-out forwards,
            flower-rotate-reverse 5s 3s infinite forwards;
    }
}

@keyframes bird-vertical-move {
    0% {
        transform: translateY(60%) rotate(-10deg) scale(.8);
        opacity: 0;
    }
    100% {
        transform: translateY(0%) rotate(0deg) scale(1);
    }
}

@keyframes bird-post-intro-movement {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(-9deg)
    }
    50% {
        transform: rotate(5deg)
    }
    75% {
        transform: rotate(2deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

@keyframes bird-pause {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

@keyframes pause-animation {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

@keyframes flower-rotate {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(360deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes flower-rotate-reverse {  
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(-360deg)
    }
    100% {
        transform: rotate(-360deg)
    }
}
@keyframes flower-1-horizontal-move {
    0% {
        transform: translateY(30%) translateX(-65%) rotate(-180deg - 50deg);
        opacity: 0;
    }
    100% {
        transform: translateY(0%) translateX(0%) rotate(0deg);
        opacity: 1;
    }
}

@keyframes flower-2-horizontal-move {
    0% {
        transform: translateY(-10%) translateX(-65%) rotate(180deg + 50deg);
        opacity: 0;
    }
    100% {
        transform: translateY(0%) translateX(0%) rotate(0deg);
        opacity: 1;
    }
}