* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(237, 223, 199, 1);
}

.animation-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    aspect-ratio: 940 / 460;
    height: auto;
}

.object {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    &.shoe {
        z-index: 1;
        bottom: 5%;
        width: 90%;
    }

    &.bird {
        left: 2%;
        bottom: 45%;
        width: 42%;
        animation: 
            bird-vertical-move 1.5s cubic-bezier(0.4, 0, 0.2, 1) forwards,
            // bird-fly-loop 6s 1.5s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
    }

    &.flower-1 {
        bottom: 44%;
        left: 80%;
        right: inherit;
        width: 10%;
        animation: flower-1-horizontal-move 1s ease-in-out forwards;    
    }

    &.flower-2 {
        bottom: 5%;
        left: 77%;
        right: inherit;
        width: 18%;
        animation: flower-2-horizontal-move 1s ease-in-out forwards;
    }
}

@keyframes bird-vertical-move {
    0% {
        transform: translateY(15%) rotate(-10deg) scale(.8);
        opacity: 0;
    }
    100% {
        transform: translateY(0%) rotate(0deg) scale(1);
    }
}

@keyframes flower-1-horizontal-move {
    0% {
        transform: translateX(-15%) rotate(-180deg - 50deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0%) rotate(0deg);
        opacity: 1;
    }
}

@keyframes flower-2-horizontal-move {
    0% {
        transform: translateX(-15%) rotate(180deg + 50deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0%) rotate(0deg);
        opacity: 1;
    }
}